[flake8]
count=False
statistics=False
show-source=False

max-line-length=120

application-import-names=adaptix
exclude=
    .venv,
    docs,
    benchmarks
docstring-convention=pep257
ignore=
    # A003 class attribute "..." is shadowing a python builtin
    A003,
    # D100 Missing docstring in public module
    D100,
    # D101 Missing docstring in public class
    D101,
    # D102 Missing docstring in public method
    D102,
    # D103 Missing docstring in public function
    D103,
    # D104 Missing docstring in public package
    D104,
    # D105 Missing docstring in magic method
    D105,
    # D107 Missing docstring in __init__
    D107,
    # W503 line break before binary operator
    W503,
    # W504 line break after binary operator
    W504,
    # B008 Do not perform function calls in argument defaults.
    B008,

max-cognitive-complexity=12
max-complexity=12
per-file-ignores=
    **/__init__.py:F401
