-r requirements_test_extra_new.txt

pre-commit
bandit

mypy

isort

vulture

pylint

flake8

flake8-comprehensions
flake8-debugger

flake8-bugbear
flake8-builtins
flake8-cognitive-complexity

flake8-mutable
flake8-polyfill

flake8-noqa

# flake8-docstrings
# pycodestyle
# darglint

radon

# https://github.com/tonybaloney/pycharm-security
